/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/obj/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/obj/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/TicTacToe.exe.config
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/obj/Debug/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/obj/Debug/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/TicTacToe.exe.config
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/obj/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/obj/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/bin/Release/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/obj/Release/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/obj/Release/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/TicTacToe.exe.config
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Release/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/EPAM.TicTacToe.IPlayer.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/TicTacToe.exe.config
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Release/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Release/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Release/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Release/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Release/MultiThreadedMiniMax.pdb
