/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/obj/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Algorithm.Rybakov/obj/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/TicTacToe.exe.config
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/bin/Debug/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/obj/Debug/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.GUI.Peralta/obj/Debug/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/Algorithm.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/TicTacToe.exe
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/TicTacToe.exe.config
/2017.EPAM.Gomoku.FirstTeam.Infrastructure.Zaitsev/bin/Debug/TicTacToe.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/Algorithm.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/bin/Debug/MultiThreadedMiniMax.pdb
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/obj/Debug/MultiThreadedMiniMax.dll
/2017.EPAM.Gomoku.FirstTeam.Multithreading.Peralta/obj/Debug/MultiThreadedMiniMax.pdb
